<div class="pages">

  <div data-page="account" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">My Account</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
  </div>
  <div class="subnavbar">
        <!-- Sub navbar content, for example tabs buttons -->
        <div class="buttons-row">
            <a href="#tab1" class="button active"></a>
            <a href="#tab2" class="button">Balance: <label id="balance_account"></label></a>
        </div>
    </div>

    <div class="page-content">
      <div class="list-block">
        <ul>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-person"></i></div>
            <div class="item-inner">
              <div class="item-title">Firstname: <b id="firstname"></b></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-person"></i></div>
            <div class="item-inner">
              <div class="item-title">Lastname: <b id="lastname"></b></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-ios-body"></i></div>
            <div class="item-inner">
              <div class="item-title">Gender: <b id="gender"></b></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-android-locate"></i></div>
            <div class="item-inner">
              <div class="item-title">District: <b id="district"></b></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-person-stalker"></i></div>
            <div class="item-inner">
              <div class="item-title">Spouse: <b id="spouse"></b></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-android-calendar"></i></div>
            <div class="item-inner">
              <div class="item-title">Birthdate: <b id="birth_date"></b></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-ios-barcode-outline"></i></div>
            <div class="item-inner">
              <div class="item-title">Adress: <b id="address"></b></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-ios-barcode-outline"></i></div>
            <div class="item-inner">
              <div class="item-title">Housenumber: <b id="housenumber"></b></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-ios-telephone"></i></div>
            <div class="item-inner">
              <div class="item-title">Telephone: <b id="telephone"></b></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-android-mail"></i></div>
            <div class="item-inner">
              <div class="item-title">Email: <b id="email"></b></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>