<div class="pages">

  <div data-page="account" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">My Account</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon"></i>
            </a>
          </div>
      </div>
  </div>

    <div class="page-content">

      <div class="content-block">
        <h3 class="text-right">Balance: $00.00</h3>
      </div>

      <div class="list-block">
        <ul>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-person"></i></div>
            <div class="item-inner">
              <div class="item-title">Name: Firstname Lastname</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-ios-body"></i></div>
            <div class="item-inner">
              <div class="item-title">Gender: Gender</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-android-locate"></i></div>
            <div class="item-inner">
              <div class="item-title">District: District, Ressort</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-android-calendar"></i></div>
            <div class="item-inner">
              <div class="item-title">Birthdate: Birthdate, Birthplace</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-home"></i></div>
            <div class="item-inner">
              <div class="item-title">Adress: Adress Housenumber Houseletter</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-ios-barcode-outline"></i></div>
            <div class="item-inner">
              <div class="item-title">Adress code: Adress-code</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-ios-telephone"></i></div>
            <div class="item-inner">
              <div class="item-title">Telephone: Telephone</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-android-mail"></i></div>
            <div class="item-inner">
              <div class="item-title">Email: Email</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon ion-person-stalker"></i></div>
            <div class="item-inner">
              <div class="item-title">Spouse: Spouse</div>
            </div>
          </li>
        </ul>
      </div>
      
    </div>

  </div>

</div>