<div class="pages">

  <div data-page="goods" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">Goods</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon"></i>
            </a>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
         <div class="page-content">
          <div class="card">
            <div class="card-header"><img class="icon_store" src="dist/img/goods_icon.png" alt="placeholder+image"></div>
            <div class="card-content">
              <div class="card-content-inner footer_cart">clothes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="page-content">
          <div class="card">
            <div class="card-header"><img class="icon_store" src="dist/img/goods_icon2.png" alt="placeholder+image"></div>
            <div class="card-content">
              <div class="card-content-inner footer_cart">Food</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="page-content">
          <div class="card">
            <div class="card-header"><img class="icon_store" src="dist/img/goods_icon2.png" alt="placeholder+image"></div>
            <div class="card-content">
              <div class="card-content-inner footer_cart">Food</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="page-content">
          <div class="card">
            <div class="card-header"><img class="icon_store" src="dist/img/goods_icon2.png" alt="placeholder+image"></div>
            <div class="card-content">
              <div class="card-content-inner footer_cart">Food</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>