<div class="pages">

  <div data-page="goods" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">Goods</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
    </div>
    <div class="subnavbar">
      <div class="right animated fadeInRightBig fs-16">Balance: <span class="balance" id="balance_goods"></span></div>
  </div>
    <div class="row page_top">
      <div class="col-50">
         <div class="page-content">
          <a class="style_a" href="#">
            <div class="card">
              <div class="card-header"><img class="icon_store" src="dist/img/goods_icon.png" alt="placeholder+image"></div>
              <div class="card-content">
                <div class="card-content-inner footer_cart font_size">Clothes</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-50">
        <div class="page-content">
          <a class="style_a" href="#">
            <div class="card">
              <div class="card-header"><img class="icon_store" src="dist/img/goods_icon2.png" alt="placeholder+image"></div>
              <div class="card-content">
                <div class="card-content-inner footer_cart font_size">Food</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-50">
        <div class="page-content">
          <a class="style_a" href="">
            <div class="card">
              <div class="card-header"><img class="icon_store" src="dist/img/goods_sport.png" alt="placeholder+image"></div>
              <div class="card-content">
                <div class="card-content-inner footer_cart font_size">Sport</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-50">
        <div class="page-content">
          <a class="style_a" href="">
            <div class="card">
              <div class="card-header"><img class="icon_store" src="dist/img/goods_electron.png" alt="placeholder+image"></div>
              <div class="card-content">
                <div class="card-content-inner footer_cart font_size">Electrical</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>