<div class="pages">
  <div data-page="login" class="page">
    <div class="page-content">
      <div class="login-screen-title ">
      	<img class="app_icon" src="dist/img/icon-1.png" alt="placeholder+image">
      </div>
      <form class="form_login">
      <div class="list-block">
        <ul>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-media"><i class="ion-person icon"></i></div>
              <div class="item-input">
                <input class="placeholder_login letter_size" type="text" id="id" placeholder="ID number">
              </div>
            </div>
          </li>
          <li class="item-content">
              <div class="item-inner">
                <div class="item-media"><i class="ion-locked icon"></i></div>
                <div class="item-input">
                  <input class="placeholder_login letter_size" type="password" id="password2" placeholder="*******">
                </div>
              </div>
            </li>
        </ul>
      </div>
        <a href="views/account.html" id="sign-in" class="button button-big button-round letter_size"><i class="icon ion-log-in icon_login"></i>Sign in</a>
      </form>
    </div>
  </div>
</div>