    <div class="pages">
      <div data-page="login" class="page">
        <div class="page-content">
          <div class="login-screen-title ">
          	<img class="app_icon" src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
          </div>
          <form>
            <div class="list-block">
              <ul>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label"></div>
                    <div class="item-input">
                      <input type="text" name="username" placeholder="ID number">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list-block">
              <ul>
                <li><a href="#" class="item-link list-button">Sign In</a></li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>