<div class="pages">
  <div data-page="login_normal" class="page">
    <div class="page-content">
      <div class="login-screen-title ">
      	<img class="app_icon" src="dist/img/icon-1.png" alt="placeholder+image">
      </div>
      <form class="form_login" id="login_normaal">
      <div class="list-block">
        <ul>

          <li class="item-content">
              <div class="item-inner">
                <div class="item-media"><i class="ion-locked icon"></i></div>
                <div class="item-input">
                  <input class="placeholder_login letter_size" type="password" required="" id="password" placeholder="*******">
                </div>
              </div>
            </li>

        </ul>
      </div>
        <button type="submit" class="button button-big button-round letter_size">Login</button>
      </form>
    </div>
  </div>
</div>