<div class="pages">

  <div data-page="services" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">Service</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
    </div>
    <div class="subnavbar">
      <div class="right animated fadeInRightBig fs-16">Balance: <span class="balance" id="balance_services"></span></div>
  </div>
    <div class="row page_top">
      <div class="col-50">
         <div class="page-content">
          <a class="style_a" href="#">
            <div class="card">
              <div class="card-header"><img class="icon_store" src="dist/img/gwi.jpg" alt="placeholder+image"></div>
              <div class="card-content">
                <div class="card-content-inner footer_cart font_size font_size">GWI</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-50">
        <div class="page-content">
          <a class="style_a" href="#">
            <div class="card">
              <div class="card-header"><img class="icon_store" src="dist/img/gpl.png" alt="placeholder+image"></div>
              <div class="card-content">
                <div class="card-content-inner footer_cart font_size">GPL</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-50">
        <div class="page-content">
          <a class="style_a" href="">
            <div class="card">
              <div class="card-header"><img class="icon_store" src="dist/img/gtt+.png" alt="placeholder+image"></div>
              <div class="card-content">
                <div class="card-content-inner footer_cart font_size">Internet</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-50">
        <div class="page-content">
          <a class="style_a" href="">
            <div class="card">
              <div class="card-header"><img class="icon_store" src="dist/img/taxi.jpg" alt="placeholder+image"></div>
              <div class="card-content">
                <div class="card-content-inner footer_cart font_size">Taxi</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>