    <div class="pages">
      <div data-page="set_password" class="page">
        <div class="page-content">
          <div class="login-screen-title ">
            <img class="app_icon" src="dist/img/icon-1.png" alt="placeholder+image">
      </div>
      <form class="form_login" id="create_password">
        <div class="list-block">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-media"><i class="ion-locked icon"></i></div>
                <div class="item-input">
                  <input class="placeholder_login letter_size" type="password" required="" id="password1" placeholder="*******">
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-media"><i class="ion-locked icon"></i></div>
                <div class="item-input">
                  <input class="placeholder_login letter_size" type="password" required="" id="password2" placeholder="*******">
                </div>
              </div>
            </li>
          </ul>
        </div>
            <div class="list-block">
              <ul>

                <li><button type="submit" class="item-link list-button button letter_size">Create password</button></li>

              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>