    <div class="pages">
      <div data-page="set_password" class="page">
        <div class="page-content">
          <div class="login-screen-title ">
          	<img class="app_icon" src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
          </div>
          <form class="form_login">
            <div class="list-block">
              <ul>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label"><i class="ion-locked icon"></i></div>
                    <div class="item-input">
                      <input class="placeholder_login letter_size" type="password" name="password" placeholder="*******">
                    </div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label"><i class="ion-locked icon"></i></div>
                    <div class="item-input">
                      <input class="placeholder_login letter_size" type="password" name="password" placeholder="*******">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list-block">
              <ul>
                <li><a href="views/account.html" class="item-link list-button button letter_size">create password</a></li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>