<div class="pages">

  <div data-page="account" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">My Pension Payments</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon"></i>
            </a>
          </div>
      </div>
  </div>

    <div class="page-content">
      <div class="card">
        <div class="card-header">Pension Payment - January 28th</div>
        <div class="card-content">
          <div class="card-content-inner">On this day you received an amount of $300 for pension payment</div>
        </div>
      </div>
    </div>

  </div>

</div>