<div class="pages">

  <div data-page="transactions" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">My Pension Payments</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
  </div>
  <div class="subnavbar">
        <!-- Sub navbar content, for example tabs buttons -->
        <div class="buttons-row">
            <a href="#tab1" class="button active"></a>
            <a href="#tab3" class="button">Balance: <label id="balance_transactions"></label></a>
        </div>
    </div>
    <div class="page-content">
      <div id="transactions">

      </div>
    </div>
  </div>
</div>