<div class="pages">

  <div data-page="transactions" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">My Pension Payments</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
  </div>
  <div class="subnavbar">
      <div class="right animated fadeInRightBig">Balance: <label id="balance_transactions"></label></div>
  </div>
    <div class="page-content">
      <div id="transactions">

      </div>
    </div>
  </div>
</div>