<div class="pages">

  <div data-page="payments" class="page navbar-fixed with-subnavbar">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">My Transactions</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
  </div>
  <div class="subnavbar">
      <div class="right animated fadeInRightBig fs-16">Balance: <span class="balance" id="balance_payments"></span></div>
  </div>
    <div class="page-content">
      <div class="content-block no-pay">
        <p class="text-center">No Payments</p>
      </div>

      <div id="payments">
        
      </div>
      
      <div id="show_more_payments" style="display: none;" class="button button-big">Show More</div>
      </div>
    </div>
  </div>
</div>