<div class="pages">

  <div data-page="services" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">Service</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
    </div>
    <div class="subnavbar">
      <div class="right animated fadeInRightBig fs-16">Balance: <span class="balance" id="balance_services"></span></div>
  </div>
      <div class="page-content">
        <div class="row" id="services">

        </div>
      </div>
  </div>

</div>