<div class="pages">

  <div data-page="income" class="page navbar-fixed with-subnavbar">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">My Pension Payments</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
  </div>
  <div class="subnavbar">
      <div class="right animated fadeInRightBig fs-16">Balance: <span class="balance" id="balance_income"></span></div>
  </div>
    <div class="page-content pull-to-refresh-content">
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="content-block">
        <p class="fs-16 label"><span class="bold">Next Payment: </span>November 12th</p>
      </div>
      <div id="income">

      </div>
      <div id="show_more_income" class="button button-big">Show More</div>
    </div>
  </div>
</div>