<div class="pages">

  <div data-page="invoices" class="page navbar-fixed with-subnavbar">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">My Invoices</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
  </div>
    <div class="page-content pull-to-refresh-content">
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div id="invoices">
        <div class="list-block accordion-list">
          <ul>
              <li class="accordion-item">
                  <a href="" class="item-link item-content">
                      <div class="item-inner">
                          <div class="item-title">Invoice TGA</div>
                          <div class="item-after">28 November 2016</div>
                      </div>
                  </a> 
                  <div class="accordion-item-content content-block">
                    <p>A payment of <span class="bold">$400.00</span> is to be made</p>
                    <p class="buttons-row">
                      <a href="#" class="button color-green">Accept</a>
                      <a href="#" class="button color-red">Decline</a>
                    </p>
                  </div>
              </li>
              <li class="accordion-item">
                  <a href="" class="item-link item-content">
                      <div class="item-inner">
                          <div class="item-title">Invoice Qx Media</div>
                          <div class="item-after">14 November 2016</div>
                      </div>
                  </a> 
                  <div class="accordion-item-content">

                  </div>
              </li>
          </ul>
      </div>
      </div>
      <div id="show_more_invoices" class="button button-big">Show More</div>
    </div>
  </div>
</div>