<div class="pages">

  <div data-page="person2person" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
          <div class="left"></div>
          <div class="center">Person 2 Person</div>
          <div class="right">
            <a href="#" data-panel="right" class="link open-panel">
                <i class="icon ion-navicon icon_white"></i>
            </a>
          </div>
      </div>
    </div>
    <div class="subnavbar">
      <div class="right animated fadeInRightBig fs-16">Balance: <span class="balance" id="balance_person2person"></span></div>
    </div>
    <div class="page-content">
      <form class="form_login" id="user2user">
        <div class="row">
          <div class="list-block">
            <ul>
              <li class="item-content">
                <div class="item-media"><i class="icon ion-card"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <input class="fs-18" required="" type="text" placeholder="Receiver ID" id="u2u_receiver_id">
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-media"><i class="icon ion-social-usd"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <input class="fs-18" required="" type="text" placeholder="Insert amount" id="u2u_amount" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 0 || event.charCode == 46'>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <p><button type="submit" class="button button-big button-fill fs-18" style="width: 100%;"> Make payment <i class="button-icon ion-paper-airplane"></i></button></p>
      </form>
    </div>
  </div>

</div>